html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    box-sizing: collapse;
    background-color: #0D0D33;
}

nav[menu=flexbox]{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
    background-color: #5CADCA;
}

nav[menu=flexbox] > div{
    flex-grow: 1;
    border: 1px solid red;
}

nav[menu=flexbox] > div:nth-child(3){
    
    background-color: steelBlue;
    
}